<h1>Test Angular</h1>

<app-header></app-header>
<comp-aside></comp-aside>
<app-button (clickEvenHandler)="addCounter()" [name]="btnAddName"></app-button>
<app-button
  (clickEvenHandler)="subtractCounter()"
  [name]="btnSubstractName"
></app-button>
<app-button
  (clickEvenHandler)="resetCounter()"
  [name]="btnResetName"
></app-button>

<p>{{ counter }} kali diklik!</p>

<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>

<app-item-detail [item]="currentItem"></app-item-detail>
<app-item-output (newItemEvent)="addItem($event)"></app-item-output>
